body {
  background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(240,235,242,0.3449754901960784) 59%, rgb(145 9 214 / 76%) 91%, rgb(152 18 222 / 93%) 100%)
}

#logo {
  width: 30px;
  height: 30px;
  color: blueviolet;
  animation: App-logo-spin 1s infinite linear;
}




@keyframes App-logo-spin {
  from {
    color: blueviolet;
  }
  to {
    color: black;
  }
}
